<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item active" (click)="goUsuarios()">
							<a class="nav-link"><span class="span-active">Usuarios</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<div class="container">
					<div class="d-flex flex-wrap">
						<input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Buscar Cliente..." aria-label="Search">
						<button type="button" class="btn btn-warning" data-toggle="modal"
						data-target="#nuevoUsuario">Crear nuevo usuario</button>
					</div>
				</div>
			</header>
			<div class="margin container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="text-center" scope="col">Nombre</th>
							<th class="text-center" scope="col">Usuario</th>
							<th class="text-center" scope="col">Estado</th>
							<th class="text-center" scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let usuario of usuarios | filter:searchText" (click)="seleccionarUsuario(usuario)">

							<th class="text-center" scope="row">{{usuario.usuario.id_usu}}</th>
							<td class="text-center">{{usuario.usuario.nombre_usu}}</td>
							<td class="text-center">{{usuario.usuario.correo_usu}}</td>
							<td class="text-center">
								<a *ngIf="usuario.usuario.estado_usu == 'Activo'"
									class="badge badge-warning">{{usuario.usuario.estado_usu}}</a>
								<a *ngIf="usuario.usuario.estado_usu == 'Inactivo'"
									class="badge badge-danger">{{usuario.usuario.estado_usu}}</a>
							</td>
							<td class="text-center" (click)="goUsuarioDetalle(usuario.usuario)">
								<i class="bi bi-eye icon"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="nuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Registrar usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label class="advertencia">Advertencia: Solo tiene permisos para registrar clientes. Recuerde que solo el administrador puede agregarlo a su cartera de clientes.</label>
				<form #form1="ngForm">
					<div class="form-group">
						<label>Nombre del cliente</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.nombre_usu" name="nombre">
						<label *ngIf="tamanoString(usuarioAuxiliar.nombre_usu)<=2" class="alertas">*Este campo debe tener almenos 3 caracteres</label>
					</div>
					<div class="form-group">
						<label>Número de documento</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.nroDocu_usu" name="nroDoc">
					</div>
					<div class="form-group">
						<label>Número de celular/teléfono:</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.celular_usu"
							name="telefono">
							<label *ngIf="tamanoString(usuarioAuxiliar.celular_usu)<=6" class="alertas">*Este campo debe tener almenos 7 caracteres</label>
					</div>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Genero</legend>
							<div class="col-sm-10" *ngFor="let genero of generos">
								<div class="form-check">
									<input class="form-check-input" type="radio"
										(change)="changeRadioGenero($event.target)" name="generoRadio"
										value="{{genero}}">
									<label class="form-check-label">
										{{genero}}
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
							<div class="col-sm-10" *ngFor="let estado of estados">
								<div class="form-check">
									<input class="form-check-input" type="radio"
										(change)="changeRadioEstado($event.target)" name="estadoRadio"
										value="{{estado}}">
									<label class="form-check-label">
										{{estado}}
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						<label>Correo electrónico o Nombre de usuario del cliente</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.correo_usu" name="correo">
						<label *ngIf="tamanoString(usuarioAuxiliar.correo_usu)<=4" class="alertas">*Este campo debe tener almenos 5 caracteres</label>
					</div>
					<div class="form-group">
						<label>Contraseña</label>
						<input type="password" class="form-control" [(ngModel)]="usuarioAuxiliar.password_usu"
							name="password">
							<label *ngIf="tamanoString(usuarioAuxiliar.password_usu)<=4" class="alertas">*Este campo debe tener almenos 5 caracteres</label>
					</div>
					<div class="form-group">
						<label>Observación</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.observacion_usu"
							name="observacion">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-warning" (click)="registrarUsuario()"
					[disabled]="tamanoString(usuarioAuxiliar.nombre_usu)<=2 ||  tamanoString(usuarioAuxiliar.celular_usu)<=6 || tamanoString(usuarioAuxiliar.correo_usu)<=4  || tamanoString(usuarioAuxiliar.password_usu)<=4"
							data-dismiss="modal">Guardar cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>