<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> físico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Ingreso</span></a>
						</li>
						<li class="nav-item" (click)="goDirecciones()">
							<a class="nav-link"><span>Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<div class="d-grid gap-2 col-3">
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nuevoProducto"
						(click)="volverIngreso()">Volver atrás</button>
				</div>
			</header>
			<div class="margin">
				<form>
					<div class="d-grid gap-2 content-responsive">
						<div class="form-group">
							<label>Chofer: </label>
							<input type="text" class="form-control" [(ngModel)]="auxiliar.chofer_ingreso_producto"
								name="chofer" required>
								<label *ngIf="tamanoString(auxiliar.chofer_ingreso_producto)<=4" class="alertas">*Este campo debe
									tener almenos 5 caracteres</label>
						</div>
						<div class="">
							<label>Fecha: </label>
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="fecha"
									ngbDatepicker #fin="ngbDatepicker">
								<button class="btn btn-outline-secondary bi-calendar3" (click)="fin.toggle()"
									type="button"></button>
							</div>
						</div>
						<button type="button" class="btn btn-warning" (click)="clearSearch()" data-toggle="modal"
							data-target="#seleccionarProducto">Seleccionar
							Producto</button>
						<div *ngFor="let item of nuevosRegistros; let i=index">
							<div class="container-items">
								<label class="name-product">{{item.producto.nombre_prod}}</label>
								<div>
									<label class="cantidad">{{item.cantidad_ingreso_producto}}</label>
									<i class="bi bi-pencil-fill icon" (click)="seleccionarRegistro(item, i)"
										data-toggle="modal" data-target="#editCantidadProducto"></i>
									<i class="bi bi-trash-fill icon" (click)="deleteRegistro(i)"></i>
								</div>
							</div>
						</div>
						<button class="btn btn-warning" (click)="guardarRegistro()"
						[disabled]="tamanoString(auxiliar.chofer_ingreso_producto)<=4">Guardar registro</button>
					</div>
				</form>
			</div>
		</main>
	</div>
</div>
<div class="modal fade" id="seleccionarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Producto</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" name="search" [(ngModel)]="searchText" class="form-control form-control text-bg"
					placeholder="Buscar producto..." aria-label="Search">
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Medida</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let producto of productos | filter:searchText" (click)="selectProduct(producto)"
							data-dismiss="modal">
							<td>{{producto.nombre_prod}}</td>
							<td>{{producto.uniMedida_prod}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editCantidadProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Editar Cantidad</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Cantidad:</label>
						<input type="number" name="cantidadd" [(ngModel)]="registroSeleccionado.cantidad"
							class="form-control">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" [disabled]="registroSeleccionado.cantidad < 1" data-dismiss="modal" class="btn btn-warning" (click)="saveRegistro()">Guardar
						cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>