<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
				<a class="navbar-brand "><label class="text-menu">Menu</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate">Kardex</a>
									<a class="nav-link text-truncate">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Almacen</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">

				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<form class="col-sm-8" role="search">
						<input type="text" name="search" [(ngModel)]="searchText"
							class="form-control form-control-dark text-bg-dark " placeholder="Buscar producto..."
							aria-label="Search">
						<button type="button" class="btn btn-warning col-sm-4" data-toggle="modal"
							data-target="#nuevoProducto" (click)="nuevoRegistro()">Nuevo registro</button>
					</form>

				</div>
			</header>
			<div class="margin" style="overflow-x:auto;">
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Chofer</th>
							<th scope="col">Item</th>
							<th scope="col">Tipo</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Fecha</th>
							<th scope="col">Estado</th>
							<th scope="col">Accion</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let item of almacen | filter:searchText">
							<td>{{item.chofer_almacen}}</td>
							<td>{{item.item_almacen}}</td>
							<td>{{item.tipo_almacen}}</td>
							<td>{{item.cantidad_almacen}}</td>
							<td>{{item.fecha_almacen}}</td>
							<td>{{item.estado_almacen}}</td>
							<td data-toggle="modal" (click)="abrirModalEditarAlmacen(item)"
								data-target="#editarAlmacen">
								<i class="bi bi-pencil-square"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="editarAlmacen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Editar Envase</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<div class="form-group">
							<label>Chofer: </label>
							<input type="text" class="form-control" [(ngModel)]="almacenSeleccionado.chofer_almacen"
								name="chofer" required>
						</div>
						<div class="">
							<label>Fecha: </label>
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" name="fecha"
									[(ngModel)]="fechaSeleccionada" ngbDatepicker #fin="ngbDatepicker">
								<button class="btn btn-outline-secondary bi-calendar3" (click)="fin.toggle()"
									type="button"></button>
							</div>
						</div>
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label ">Estado:</legend>
								<div *ngFor="let estado of estadoAlmacen">
									<div class="form-check">
										<input class="form-check-input" type="radio"
											[checked]="almacenSeleccionado.estado_almacen == estado"
											(change)="cambiarEstadoRadio($event.target)" name="estado"
											value="{{estado}}">
										<label class="form-check-label">
											{{estado}}
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label ">Tipo:</legend>
								<div *ngFor="let tipo of tipoAlmacen">
									<div class="form-check">
										<input class="form-check-input" type="radio"
											[checked]="almacenSeleccionado.tipo_almacen == tipo"
											(change)="cambiarTipoRadio($event.target)" name="tipo" value="{{tipo}}">
										<label class="form-check-label">
											{{tipo}}
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						<button *ngIf="almacenSeleccionado.tipo_almacen == 'Producto'" type="button"
							class="btn btn-warning" (click)="clearSearch()" data-toggle="modal"
							data-target="#seleccionarProducto">Seleccionar
							Producto</button>
						<button *ngIf="almacenSeleccionado.tipo_almacen =='Envase'" type="button"
							class="btn btn-warning" (click)="clearSearch()" data-toggle="modal"
							data-target="#seleccionarEnvase">Seleccionar
							Envase</button>


					</div>
					<label>{{almacenSeleccionado.item_almacen}}</label>
					<div class="form-group">
						<label>Cantidad: </label>
						<input type="number" class="form-control" [(ngModel)]="almacenSeleccionado.cantidad_almacen"
							name="cantidad" required>
					</div>

				</form>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="submit" (click)="editarAlmacen()" data-dismiss="modal" class="btn btn-warning">Guardar
					cambios</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="seleccionarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Producto</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" name="search" [(ngModel)]="searchText" class="form-control form-control text-bg"
					placeholder="Buscar producto..." aria-label="Search">
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Medida</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let producto of productos | filter:searchText" (click)="selectProduct(producto)"
							data-dismiss="modal">
							<td>{{producto.nombre_prod}}</td>
							<td>{{producto.uniMedida_prod}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="seleccionarEnvase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Producto</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" name="search" [(ngModel)]="searchText" class="form-control form-control text-bg"
					placeholder="Buscar envase..." aria-label="Search">
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Nombre</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let envase of envases | filter:searchText" (click)="selectEnvase(envase)"
							data-dismiss="modal">
							<td>{{envase.nombre_envase}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>