<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> físico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Ingreso</span></a>
						</li>
						<li class="nav-item" (click)="goDirecciones()">
							<a class="nav-link"><span>Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<form class="col-sm-8" role="search">
						<input type="text" name="search" [(ngModel)]="searchText"
							class="form-control form-control-dark text-bg-dark " placeholder="Buscar producto..."
							aria-label="Search">
						<button type="button" class="btn btn-warning" data-toggle="modal"
							data-target="#nuevoProducto" (click)="nuevoRegistro()">Nuevo registro</button>
					</form>
				</div>
			</header>
			<div class="margin" style="overflow-x:auto;">
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Chofer</th>
							<th scope="col">Producto</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Fecha</th>
							<th scope="col">Acción</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let item of ingreso | filter:searchText">
							<td>{{item.chofer_ingreso_producto}}</td>
							<td>{{item.producto.nombre_prod}}</td>
							<td>{{item.cantidad_ingreso_producto}}</td>
							<td>{{productoService.getFechaFormat(item.fecha_ingreso_producto.toString())}}</td>
							<td data-toggle="modal" (click)="deleteIngreso(item)"
								data-target="#editarIngreso">
								<i class="bi bi-trash-fill"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>
