<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> físico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Usuarios</span></a>
						</li>
						<li class="nav-item" (click)="goIngreso()">
							<a class="nav-link"><span>Ingreso</span></a>
						</li>
						<li class="nav-item" (click)="goDirecciones()">
							<a class="nav-link"><span>Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<div class="container">
					<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
						<form class="col-sm-8" role="search">
							<input type="text" name="search" [(ngModel)]="searchText"
								class="form-control form-control-dark text-bg-dark " placeholder="Buscar usuario..."
								aria-label="Search">
						</form>
						<button type="button" class="btn btn-warning col-sm-4" data-toggle="modal"
							data-target="#nuevoUsuario">Crear nuevo usuario</button>
					</div>
				</div>
			</header>

			<div class="margin">
				<div class="rol-container">
					<label>Filtrar por Rol: </label>
					<select class="form-select" [(ngModel)]="rolSelect" (change)="rolSeleccionado()">
						<option *ngFor="let rol of roles">{{rol.nombre_rol}}</option>
					</select>
					<label class="usercount">Numero de Usuarios: {{this.rolCount}}</label>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							
							<th class="text-center" scope="col">Nombre</th>
							<th class="text-center" scope="col">Usuario</th>
							<th class="text-center" scope="col">Rol</th>
							<th class="text-center" scope="col">Estado</th>
							<th class="text-center" scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let usuario of usuarios | filter:searchText" (click)="seleccionarUsuario(usuario)">

							
							<td class="text-center">{{usuario.nombre_usu}}</td>
							<td class="text-center">{{usuario.correo_usu}}</td>
							<td class="text-center">{{usuario.rol.nombre_rol}}</td>
							<td class="text-center">
								<a *ngIf="usuario.estado_usu == 'Activo'"
									class="badge badge-warning">{{usuario.estado_usu}}</a>
								<a *ngIf="usuario.estado_usu == 'Inactivo'"
									class="badge badge-danger">{{usuario.estado_usu}}</a>
							</td>
							<td class="text-center">
								<i class="bi bi-eye icon"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="nuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Registrar usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #form1="ngForm">
					<div class="form-group">
						<label for="exampleFormControlInput8">Nombre del usuario</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.nombre_usu" name="nombre">
						<label *ngIf="tamanoString(usuarioAuxiliar.nombre_usu)<=2" class="alertas">*Este campo debe tener almenos 3 caracteres</label>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput9">Número de documento</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.nroDocu_usu" name="nroDoc">
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput9">Número de celular/teléfono:</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.celular_usu"
							name="telefono">
							<label *ngIf="tamanoString(usuarioAuxiliar.celular_usu)<=6" class="alertas">*Este campo debe tener almenos 7 caracteres</label>
					</div>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Género</legend>
							<div class="col-sm-10" *ngFor="let genero of generos">
								<div class="form-check">
									<input class="form-check-input" type="radio"
										(change)="changeRadioGenero($event.target)" name="generoRadio"
										value="{{genero}}">
									<label class="form-check-label">
										{{genero}}
									</label>
								</div>
							</div>
							<!--<label *ngIf="radio" class="alertas">*Por favor seleccione un género.</label>-->
						</div>
					</fieldset>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
							<div class="col-sm-10" *ngFor="let estado of estados">
								<div class="form-check">
									<input class="form-check-input" type="radio"
										(change)="changeRadioEstado($event.target)" name="estadoRadio"
										value="{{estado}}">
									<label class="form-check-label">
										{{estado}}
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						<label for="exampleFormControlInput4">Correo electrónico o Nombre de usuario</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.correo_usu" name="correo">
						<label *ngIf="tamanoString(usuarioAuxiliar.correo_usu)<=4" class="alertas">*Este campo debe tener almenos 5 caracteres</label>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput5">Contraseña</label>
						<input type="password" class="form-control" [(ngModel)]="usuarioAuxiliar.password_usu"
							name="password">
							<label *ngIf="tamanoString(usuarioAuxiliar.password_usu)<=4" class="alertas">*Este campo debe tener almenos 5 caracteres</label>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput6">Observación</label>
						<input type="text" class="form-control" [(ngModel)]="usuarioAuxiliar.observacion_usu"
							name="observacion">
					</div>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Rol</legend>
							<div class="col-sm-10" *ngFor="let rol of rolUsuario">
								<div class="form-check">
									<input class="form-check-input" type="radio"
										(change)="rolSeleccionadoNuevoUsuario($event.target)" name="rolRadio"
										value="{{rol.id_rol}}">
									<label class="form-check-label">
										{{rol.nombre_rol}}
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-warning" (click)="registrarUsuario()"
					[disabled]="tamanoString(usuarioAuxiliar.nombre_usu)<=2 ||  tamanoString(usuarioAuxiliar.celular_usu)<=6 || tamanoString(usuarioAuxiliar.correo_usu)<=4  || tamanoString(usuarioAuxiliar.password_usu)<=4"
						data-dismiss="modal">Guardar cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Editar usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Nombre del usuario</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Número de documento</label>
						<input type="text" class="form-control">
					</div>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-2 pt-0">Genero: </legend>
							<div class="col-sm-10">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" value="option1"
										checked>
									<label class="form-check-label">
										Hombre
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" value="option2">
									<label class="form-check-label">
										Mujer
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-2 pt-0">Estado: </legend>
							<div class="col-sm-10">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" value="option1"
										checked>
									<label class="form-check-label">
										Activo
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" value="option2">
									<label class="form-check-label">
										Inactivo
									</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						<label>Observación</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>Rol:</label>
						<select class="form-select" aria-label="Default select example">
							<option value="1">Administrador</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="form-group">
						<label>Imagen de perfil:</label>
						<input type="file" class="form-control-file">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-warning">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>