.card-body {
  margin: 20px 30px;
}

.table-pago{
  width: 500px;
}
.bi {
  margin: 0px 10px;
  padding: 3px;
}
.i-plain:hover {
  color: black;
  background-color: #fecb00!important;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.btn {
  margin: 20px 0px;
}

.label{
  margin-top: 5px;
  margin-left: 10px;
}