<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Varios</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> fisico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item active" (click)="goUsuarios()">
							<a class="nav-link"><span class="span-active">Usuarios</span></a>
						</li>
						<li class="nav-item" (click)="goIngreso()">
							<a class="nav-link"><span>Ingreso</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-1 text-bg-dark">
				<button type="button" class="btn btn-warning" (click)="volverAtras()">Volver a la lista de
					Usuarios</button>
			</header>
			<div class="margin">
				<div class="card">
					<div class="card-header text-center">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item" (click)="tablNavegador('informacion')">
								<a class="nav-link active" *ngIf="tabNavegador=='informacion'">Datos personales</a>
								<a class="nav-link disabled" *ngIf="tabNavegador!='informacion'">Datos personales</a>
							</li>
							<li class="nav-item" (click)="tablNavegador('pagos')" *ngIf="'Cliente'==rol">
								<a class="nav-link active" *ngIf="tabNavegador=='pagos'">Pagos Realizados</a>
								<a class="nav-link disabled" *ngIf="tabNavegador!='pagos'">Pagos Realizados</a>
							</li>
							<li class="nav-item" (click)="tablNavegador('direcciones')" *ngIf="'Cliente'==rol">
								<a class="nav-link active" *ngIf="tabNavegador=='direcciones'"> Direcciones</a>
								<a class="nav-link disabled" *ngIf="tabNavegador!='direcciones'">Direcciones</a>
							</li>
							<li class="nav-item" (click)="tablNavegador('carteraCliente')" *ngIf="'Vendedor'==rol">
								<a class="nav-link active" *ngIf="tabNavegador=='carteraCliente'"> Cartera cliente</a>
								<a class="nav-link disabled" *ngIf="tabNavegador!='carteraCliente'">Cartera cliente</a>
							</li>
						</ul>
					</div>
					<div class="card-body" *ngIf="tabNavegador=='informacion'">
						<h3 class="card-title">{{usuario.nombre_usu}} </h3>
						<p class="font-weight-bold">Numero de documento</p>
						<p class="card-text">{{usuario.nroDocu_usu}}</p>
						<p class="font-weight-bold">Celular: </p>
						<p class="card-text">{{usuario.celular_usu}}</p>
						<p class="font-weight-bold">Correo o Usuario: </p>
						<p class="card-text">{{usuario.correo_usu}}</p>
						<p class="font-weight-bold">Estado: </p>
						<p class="card-text">{{usuario.estado_usu}}</p>
						<p class="font-weight-bold">Deuda Total: </p>
						<p class="card-text">{{usuario.deuda_usu}}</p>
					</div>
					<div class="card-body" *ngIf="tabNavegador=='pagos' && 'Cliente'==rol">
						<button type="button" class="btn btn-warning" data-toggle="modal"
							data-target="#realizarPago">Realizar pago</button>
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="text-center" scope="col">Monto</th>
									<th class="text-center" scope="col">Fecha</th>
									<th class="text-center" scope="col">Accion</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let pago of usuario.pago">
									<td class="text-center">{{pago.cantidad_pago}}</td>
									<td class="text-center">{{pago.fecha_pago}}</td>
									<td (click)="editarPago(pago)" data-toggle="modal" data-target="#editarPago"
										class="text-center">
										<i class="bi bi-pencil-square"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-body" *ngIf="tabNavegador=='direcciones' && 'Cliente'==rol">
						<button type="button" class="btn btn-warning" data-toggle="modal"
							data-target="#nuevaDireccion">Agregar nueva dirección</button>
						<table class="table">
							<thead>
								<tr>
									<th class="text-center" scope="col">Nombre Dirección</th>
									<th class="text-center" scope="col">Descripción</th>
									<th class="text-center" scope="col">Rubro</th>
									<th class="text-center" scope="col">Teléfono</th>
									<th class="text-center" scope="col">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let direccion of usuario.direccion">
									<td class="text-center">{{direccion.nombre_direc}}</td>
									<td class="text-center">{{direccion.descripcion_direc}}</td>
									<td class="text-center">{{direccion.rubro_direc}}</td>
									<td class="text-center">{{direccion.telefono_direc}}</td>
									<td class="text-center">
										<i class="bi bi-pencil-square  i-plain" data-toggle="modal"
											data-target="#editarDireccion"></i>
										<i class="bi bi-geo-alt i-plain" data-toggle="modal"
											data-target="#verDireccion"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-body" *ngIf="tabNavegador=='carteraCliente' && 'Vendedor'==rol">
						<button type="button" class="btn btn-warning" data-toggle="modal"
							data-target="#nuevoCliente">Asignar Nuevo cliente</button>
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="text-center" scope="col">Nombre cliente</th>
									<th class="text-center" scope="col">Estado</th>
									<th class="text-center" scope="col">Celular</th>
									<th class="text-center" scope="col">nro Documento</th>
									<th class="text-center" scope="col">Observacion</th>
									<th class="text-center" scope="col">Deuda</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let cliente of carteraCliente">
									<td class="text-center">{{cliente.usuario.nombre_usu}}</td>
									<td class="text-center">{{cliente.usuario.estado_usu}}</td>
									<td class="text-center">{{cliente.usuario.celular_usu}}</td>
									<td class="text-center">{{cliente.usuario.nroDocu_usu}}</td>
									<td class="text-center">{{cliente.usuario.observacion_usu}}</td>
									<td class="text-center">{{cliente.usuario.deuda_usu}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
<div class="modal fade" id="nuevoCliente" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Agregar nuevo cliente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<form class="col-sm-8" role="search">
							<input type="text" name="search2" [(ngModel)]="searchText"
								class="form-control form-control text-bg " placeholder="Buscar cliente..."
								aria-label="Search">
						</form>
						<br>
						<div class="col-sm-8" *ngFor="let cliente of clientes | filter: searchText">
							<label (click)="selectCliente(cliente)" class="label">{{cliente.nombre_usu}}</label>
						</div>
						<div>
							<label>Cliente: {{clienteSeleccionado.nombre_usu}}</label>
						</div>

					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button class="btn btn-warning" (click)="regristrarCliente()">Guardar cambios</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="realizarPago" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Registrar pago</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #formPagos="ngForm">
					<div class="form-group">
						<label>Monto a pagar:</label>
						<input name="monto" type="number" placeholder="Ingrese el monto" ngModel required
							class="form-control">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button class="btn btn-warning" (click)="registrarPago(formPagos.form.value)"
						[disabled]="formPagos.invalid" data-dismiss="modal">Guardar
						cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="nuevaDireccion" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Realizar Pago</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editarDireccion" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar pago</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="verDireccion" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Direccion X</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editarPago" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Pago</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Nombre del envase:</label>
						<input type="text" name="e" [(ngModel)]="pagoAuxiliar.cantidad_pago" class="form-control">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="submit" (click)="guardarPagoEditado()" data-dismiss="modal"
						class="btn btn-warning">Guardar cambios</button>
				</form>
			</div>
		</div>
	</div>
</div>