.table-pago{
  width: 500px;
}

.i-plain:hover {
  color: black;
  background-color: #fecb00!important;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}


.label{
  margin-top: 5px;
  margin-left: 10px;
}

.link-active{
  text-decoration: underline;
}

.link-active:hover {
  color: #fecb00;
}

.etiqueta{
	font-size: small;
	color:#555555;
}