.fecha-col {
	width: 50%;
 }
 .cliente-col{
	width: 50%;
 }
 .row {
   display: flex;
   width: 100%;
 }
 .pendiente {
  color: #ddb103;
  text-decoration: underline;
}

.cancelado {
  color: darkred;
}

.entregado {
  color: darkgreen;
  text-decoration: underline;
}