<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<button type="button" class="btn btn-warning " (click)="goNuevoPedido()">Nuevo
					Pedido</button>
			</header>
			<div class="margin container">
				<div class="row">
					<div class="fecha-col">
						<label>Fecha inicio (Entrega): </label>
						<div class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaInicio"
								ngbDatepicker #inicio="ngbDatepicker">
							<button class="btn btn-warning bi-calendar3" (click)="inicio.toggle()"
								type="button"></button>
						</div>
						<label>Fecha fin (Entrega): </label>
						<div class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaFin"
								ngbDatepicker #fin="ngbDatepicker">
							<button class="btn btn-warning bi-calendar3" (click)="fin.toggle()"
								type="button"></button>
						</div>
					</div>
					<div class="cliente-col">
						<div class="form-group m-1">
							<label>Elegir Cliente: </label>
							<label class="ml-2 mr-2">{{this.cliente.correo_usu}}</label>
							<button class="btn btn-warning bi bi-person-plus" data-toggle="modal"
								data-target="#seleccionarCliente"></button>
						</div>
						<button type="button" class="btn btn-warning" (click)="aplicarFiltros()" >Aplicar filtros</button>
						<button type="button" class="btn btn-warning" (click)="quitarFiltros()" >Quitar filtros</button>
					</div>
				</div>
				<div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="text-center" scope="col">Nombre Cliente</th>
								<th class="text-center" scope="col">Fecha de Pedido</th>
								<th class="text-center" scope="col">Fecha de Entrega</th>
								<th class="text-center" scope="col">Dirección</th>
								<th class="text-center" scope="col">Estado</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let pedido of pedidosFiltrados" (click)="goDetallePedido(pedido.id_ord)">
								<td class="text-center">{{pedido.usuario.nombre_usu}}</td>
								<td class="text-center">{{getFechaFormato(pedido.fVenta_ord)}}</td>
								<td class="text-center">{{getFechaFormato(pedido.fEntrega_ord)}}</td>
								<td class="text-center">{{pedido.direccion.nombre_direc}}</td>
								<td class="text-center">{{pedido.estado_ord}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="seleccionarCliente" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seleccionar cliente</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<input type="text" name="search" [(ngModel)]="searchText"
						class="form-control form-control text-bg mt-1 ml-1 mt-2 mb-2" placeholder="Buscar cliente..."
						aria-label="Search">
					<div *ngFor="let cliente of clientes | filter:searchText" class="m-2"
						(click)="seleccionarCliente(cliente.usuario)" data-dismiss="modal">
						<label>{{cliente.usuario.nombre_usu}} | {{cliente.usuario.correo_usu}}</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>