<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap active" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class="span-active"> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> físico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item">
							<li class="nav-item" (click)="goIngreso()">
								<a class="nav-link"><span>Ingreso</span></a>
						</li>
						<li class="nav-item" (click)="goDirecciones()">
							<a class="nav-link"><span>Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<div class="card">
				<div class="card-header text-center">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item" (click)="tablNavegador('semanal')">
							<a class="nav-link active" *ngIf="tabNavegador=='semanal'">Semanal</a>
							<a class="nav-link disabled" *ngIf="tabNavegador!='semanal'">Semanal</a>
						</li>
						<li class="nav-item" (click)="tablNavegador('mensual')">
							<a class="nav-link active" *ngIf="tabNavegador=='mensual'">Mensual</a>
							<a class="nav-link disabled" *ngIf="tabNavegador!='mensual'">Mensual</a>
						</li>
					</ul>
				</div>
				<div class="card-body" *ngIf="tabNavegador=='semanal'">
					<div class="rol-container">
						<label>Seleccionar semana: </label>
						<select class="form-select" [(ngModel)]="filtros.semana">
							<option *ngFor="let semana of semanas">{{semana}}</option>
						</select>
					</div>
					<div class="rol-container">
						<label>Seleccionar año: </label>
						<select class="form-select" [(ngModel)]="filtros.year">
							<option *ngFor="let year of years">{{year}}</option>
						</select>
					</div>
					<div class="ml-2">
						<label>Seleccionar producto: </label>
						<label class="ml-1 font-weight-bold">{{filtros.producto.nombre_prod}} |
							{{this.filtros.producto.uniMedida_prod}}</label>
						<button type="button" class="btn btn-warning ml-2" data-toggle="modal"
							data-target="#seleccionarProducto">Producto</button>
					</div>
					<button type="button" class="btn btn-warning mb-2 ml-2 pl-3 pr-3" (click)="aplicarFiltros()">Aplicar
						Filtros</button>
					<div class="container-1">
						<div id="content1" class="color">
							<table class="table" *ngIf="verTabla">
								<thead class="text-center table-hover">
									<tr>
										<th scope="col">Mes</th>
										<th scope="col">Unidades vendidas</th>
										<th scope="col">{{filtros.unidad}} vendidos</th>
										<th scope="col">Variación Porcentual</th>
										<th scope="col">Semanas comparadas</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr *ngFor="let mes of meses; let i=index">
										<td>{{mes}}</td>
										<td>{{datosReporte[i]}}</td>
										<td>{{datosReporte[i]*filtros.cantidad}}</td>
										<td><label *ngIf="i>0">{{variacionPorcentual[i]}}%</label></td>
										<td><label *ngIf="i>0">{{meses[i-1]}}-{{mes}}</label></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="content2">
							<canvas *ngIf="verTabla" class="color" baseChart [data]="barChartData"
								[options]="barChartOptions" [type]="'bar'">
							</canvas>
						</div>
					</div>
				</div>
				<div class="card-body" *ngIf="tabNavegador=='mensual'">
					<div class="rol-container">
						<label>Seleccionar año: </label>
						<select class="form-select" [(ngModel)]="filtros.year">
							<option *ngFor="let year of years">{{year}}</option>
						</select>
					</div>
					<div class="ml-2">
						<label>Seleccionar producto: </label>
						<label class="ml-1 font-weight-bold">{{filtros.producto.nombre_prod}} |
							{{this.filtros.producto.uniMedida_prod}}</label>
						<button type="button" class="btn btn-warning ml-2" data-toggle="modal"
							data-target="#seleccionarProducto">Producto</button>
					</div>
					<button type="button" class="btn btn-warning mb-2 ml-2 pl-3 pr-3"
						(click)="aplicarFiltrosMeses()">Aplicar Filtros</button>
					<div class="container-1">
						<div id="content1" class="color">
							<table class="table" *ngIf="verTabla">
								<thead class="text-center table-hover">
									<tr>
										<th scope="col">Mes</th>
										<th scope="col"><label>Unidades <br /> vendidas</label></th>
										<th scope="col">{{filtros.unidad}} <br /> vendidos</th>
										<th scope="col">Variación <br /> Porcentual</th>
										<th scope="col">Semanas <br /> comparadas</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr *ngFor="let mes of meses; let i=index">
										<td>{{mes}}</td>
										<td>{{datosReporte[i]}}</td>
										<td>{{datosReporte[i]*filtros.cantidad}}</td>
										<td><label *ngIf="i>0">{{variacionPorcentual[i]}}%</label></td>
										<td><label *ngIf="i>0">{{meses[i-1]}}-{{mes}}</label></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div id="content2">
							<canvas *ngIf="verTabla" class="color" baseChart [data]="barChartData"
								[options]="barChartOptions" [type]="'bar'">
							</canvas>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="seleccionarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Seleccionar Producto</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngFor="let producto of productos">
					<label (click)="seleccionarProducto(producto)" data-dismiss="modal">{{producto.nombre_prod}} |
						{{producto.uniMedida_prod}}</label>
				</div>
			</div>
		</div>
	</div>
</div>