<div class="content">
	<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
			<span class="fs-4">Menu</span>
		</a>
		<hr>
		<ul class="nav nav-pills flex-column mb-auto">
			<li (click)="goProductos()">
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#speedometer2"></use>
					</svg>
					Productos
				</a>
			</li>
			<li (click)="goUsuarios()">
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#speedometer2"></use>
					</svg>
					Usuarios
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#home"></use>
					</svg>
					Pedidos
				</a>
			</li>
			<li>
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#speedometer2"></use>
					</svg>
					Ventas
				</a>
			</li>
			<li>
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#table"></use>
					</svg>
					Proovedores
				</a>
			</li>
			<li>
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#grid"></use>
					</svg>
					Ingresos
				</a>
			</li>
			<li>
				<a class="nav-link text-white">
					<svg class="bi me-2" width="16" height="16">
						<use xlink:href="#people-circle"></use>
					</svg>
					Categoria
				</a>
			</li>
		</ul>
	</div>
	<div class="container-component">
		<header class="p-3 text-bg-dark">
			<div class="d-grid gap-2">
				<button type="button" class="btn btn-outline-warning" (click)="goNuevoPedido()">Nuevo Pedido</button>
			  </div>
			<div class="datePicker">
				<form class="row row-cols-sm-auto" role="search">
					<div class="picker">
						<!-- <div class="input-group"> -->
							<!-- TODO: max auto input -->
							<input type="text" name="search" [(ngModel)]="searchText"
								class="form-control form-control-dark text-bg-dark" placeholder="Buscar Cliente..."
								aria-label="Search">
						<!-- </div> -->
					</div>

					<button type="button" class="btn btn-warning picker">Seleccionar cliente</button>
				</form>
			</div>
			<div class="datePicker">
				<form class="row row-cols-sm-auto">
					<div class="col-12 picker">
						<div class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaInicio"
								ngbDatepicker #inicio="ngbDatepicker">
							<button class="btn btn-outline-secondary bi-calendar3" (click)="inicio.toggle()"
								type="button"></button>
						</div>
					</div>
					<div class="col-12 picker">
						<div class="input-group">
							<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaFin"
								ngbDatepicker #fin="ngbDatepicker">
							<button class="btn btn-outline-secondary bi-calendar3" (click)="fin.toggle()"
								type="button"></button>
						</div>
					</div>
					<button type="button" class="btn btn-warning picker" (click)="filtrarPorFecha()">Buscar por fecha</button>
				</form>
			</div>
		</header>
		<div class="margin">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center" scope="col">Nombre Cliente</th>
						<th class="text-center" scope="col">Direccion</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let pedido of pedidos">
						<td class="text-center">{{pedido.usuario.nombre_usu}}</td>
						<td class="text-center">{{pedido.direccion.nombre_direc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>