.datePicker {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

/* .picker {
	margin-top: 10px;
} */

.select {
  width: min-content;
}

.select-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.pendiente {
  color: #ddb103;
  text-decoration: underline;
}

.cancelado {
  color: darkred;
}

.entregado {
  color: darkgreen;
  text-decoration: underline;
}
@media screen and (max-width: 320px) {
	.container-fluid {
		/* width: 100% !important; */
		display: flex;
		}
	 
  }
  @media screen and (max-width:480px) {
	.container-fluid {
		/* width: 100% !important; */
		display: flex;
		}
	 
  }
  @media screen and (max-width:600px) {
	.container-fluid {
		/* width: 100% !important; */
		display: flex;
		}
	 
  }
  @media screen and (max-width:801px) {
	.container-fluid {
		/* width: 100% !important; */
		display: flex;
		}
	 
  }