<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Reportes</span></a>
						</li>
						<li class="nav-item " (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="text-bg-dark p-3">
				<div class="width">
					<input type="text" name="search" [(ngModel)]="searchText" class="form-control text"
						placeholder="Buscar...">
				</div>
			</header>
			<div class="flex">
				<div>
					<label class="m-2">Fecha de Inicio:</label>
					<div class="input-group width m-2">
						<input class="form-control" placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="fechaInicio"
							ngbDatepicker #fecha="ngbDatepicker">
						<button class="btn btn-warning bi-calendar3" (click)="fecha.toggle()" type="button"></button>
					</div>
				</div>
				<div>
					<label class="m-2">Fecha de Fin:</label>
					<div class="input-group width m-2">
						<input class="form-control" placeholder="yyyy-mm-dd" name="fecha" [(ngModel)]="fechaFin"
							ngbDatepicker #fecha="ngbDatepicker">
						<button class="btn btn-warning bi-calendar3" (click)="fecha.toggle()" type="button"></button>
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-warning m-2">Guardar cambios</button>
				<table class="table">
					<thead class="text-center">
						<tr>
							<th scope="col">Fecha</th>
							<th scope="col">Cliente</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<!-- <tr *ngFor="let producto of productos | filter:searchText">
							<td scope="row">{{producto.id_prod}}</td>
							<td>{{producto.nombre_prod}}</td>
							<td>{{producto.uniMedida_prod}}</td>
							<td *ngIf="producto.estado_prod == 'Activo'">
								<a class="badge badge-warning">{{producto.estado_prod}}</a>
							</td>
							<td *ngIf="producto.estado_prod == 'Inactivo'">
								<a class="badge badge-danger">{{producto.estado_prod}}</a>
							</td>
							<td (click)="editarProducto(producto)" data-toggle="modal"
								data-target="#modalEditarProducto">
								<i class="bi bi-pencil-square"></i>
							</td>
						</tr> -->
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>