.margin {
  margin: 20px;
}

.badge {
  border-radius: 15px;
}

.img {
	display: flex;
	margin: 20px auto;
	width: 80%;
}

.width-min {
	width: min-content;
}

.etiqueta{
	font-size: small;
	color:#555555;
}
.img-producto {
	display: flex; 
	margin: 10px auto;
	width: 50px;
}