<div class="container-fluid">
    <div class="row wrapper min-vh-100 flex-column flex-sm-row">
        <aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
                <a class="navbar-brand "><label class="text-menu">Menú</label></a>
                <a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="collapse navbar-collapse sidebar">
                    <ul class="flex-column navbar-nav w-100 justify-content-between">
                        <li class="nav-link" >
                           
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
                                data-toggle="collapse" data-target="#m1" aria-expanded="false">
                                <span class=""> Reportes</span>
                            </a>
                            <div class="collapse" id="m1">
                                <ul class="flex-column nav">
                                    <a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
                                    <a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
                                data-toggle="collapse" data-target="#m2" aria-expanded="false">
                                <span class=""> Control <br> físico</span>
                            </a>
                            <div class="collapse" id="m2">
                                <ul class="flex-column nav">
                                    <a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
                                    <a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" (click)="goPedidos()">
                            <a class="nav-link"><span>Pedidos</span></a>
                        </li>
                        <li class="nav-item" active>
                            <a class="nav-link"><span class="span-active">Productos</span></a>
                        </li>
                        <li class="nav-item" (click)="goUsuarios()">
                            <a class="nav-link"><span>Usuarios</span></a>
                        </li>
                        <li class="nav-item" (click)="goIngreso()">
                            <a class="nav-link"><span>Ingreso</span></a>
                        </li>
                        <li class="nav-item" (click)="goDirecciones()">
                            <a class="nav-link"><span>Direcciones</span></a>
                        </li>
                        <li class="nav-item" (click)="goLogin()">
                            <a class="nav-link"><span>Cerrar Sesion</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col">
            <header class="text-bg-dark">
                <form role="search" class="padding w-75">
                    <input type="text" name="search" [(ngModel)]="searchText"
                        class="form-control form-control-dark text-bg-dark mt-1 ml-1" placeholder="Buscar producto..."
                        aria-label="Search" *ngIf="tabNavegador=='productos'">
                    <button type="button" class="btn btn-warning ml-1 mt-1" (click)="nuevoProducto()"
                        data-toggle="modal" data-target="#nuevoProducto">Agregar nuevo producto</button>
                    <button type="button" class="btn btn-warning ml-1 mt-1" data-toggle="modal"
                        data-target="#nuevoEnvase">Agregar nuevo envase</button>
                </form>
            </header>
            <div>
                <div class="card">
                    <div class="card-header text-center">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" (click)="tablNavegador('productos')">
                                <a class="nav-link active" *ngIf="tabNavegador=='productos'">Productos</a>
                                <a class="nav-link disabled" *ngIf="tabNavegador!='productos'">Productos</a>
                            </li>
                            <li class="nav-item" (click)="tablNavegador('envases')">
                                <a class="nav-link active" *ngIf="tabNavegador=='envases'">Envases</a>
                                <a class="nav-link disabled" *ngIf="tabNavegador!='envases'">Envases</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body" *ngIf="tabNavegador=='productos'">
                        <table class="table">
                            <thead class="text-center">
                                
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Medida</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Estatus</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let producto of productos | filter:searchText">
                                    <td >
										<img class="img-producto" [src]="producto?.foto_prod">
									</td>
                                    <td>{{producto.nombre_prod}}</td>
                                    <td>{{producto.uniMedida_prod}}</td>
                                    <td>{{producto.stock_prod}}</td>
                                    <td *ngIf="producto.estado_prod == 'Activo'">
                                        <a class="badge badge-warning">{{producto.estado_prod}}</a>
                                    </td>
                                    <td *ngIf="producto.estado_prod == 'Inactivo'">
                                        <a class="badge badge-danger">{{producto.estado_prod}}</a>
                                    </td>
                                    <td (click)="editarProducto(producto)" data-toggle="modal"
                                        data-target="#modalEditarProducto">
                                        <i class="bi bi-pencil-square"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body" *ngIf="tabNavegador=='envases'">
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Nombre del envase</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let envase of envases; let i = index">
                                    <td>{{envase.nombre_envase}}</td>
                                    <td>{{envase.precio_envase}}</td>
                                    <td data-toggle="modal" (click)="abrirModalEditarEnvase(envase)"
                                        data-target="#editarEnvase">
                                        <i class="bi bi-pencil-square"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del producto</label>
                        <input type="text" name="nombre" [(ngModel)]="productoSeleccionado.nombre_prod"
                            class="form-control">
                            <label *ngIf="tamanoString(productoSeleccionado.nombre_prod)<=5" class="alertas">*Este campo debe tener almenos 6 caracteres</label>
                        </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Unidad de medida</label>
                        <input type="text" name="uniMedi" [(ngModel)]="productoSeleccionado.uniMedida_prod"
                            class="form-control">
                            <label class="alertas">*Tenga cuidado al cambiar este campo, ya que debe cumplir el formato establecido.</label>
                        </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Stock</label>
                        <input type="number" name="stock" [(ngModel)]="productoSeleccionado.stock_prod"
                            class="form-control">
                            <label *ngIf="tamanoNumero(productoSeleccionado.stock_prod) <= 0" class="alertas">*Este campo debe ser mayor a cero.</label>
                        </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio de compra</label>
                        <input type="number" name="precio" [(ngModel)]="productoSeleccionado.precioCompra_prod"
                            class="form-control">
                            <label *ngIf="tamanoNumero(productoSeleccionado.precioCompra_prod) <= 0" class="alertas">*Este campo debe ser mayor a cero.</label>
                        </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
                            <div class="col-sm-10" *ngFor="let estado of estados">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (change)="changeRadio($event.target)"
                                        name="estadoRadio" value="{{estado}}"
                                        [checked]="productoSeleccionado.estado_prod == estado">
                                    <label class="form-check-label">
                                        {{estado}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Imagen del producto</label>
                        <input type="text" name="foto" [(ngModel)]="productoSeleccionado.foto_prod"
                            class="form-control">
                        <img class="img" [src]="productoSeleccionado.foto_prod">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal"
                [disabled]="tamanoString(productoSeleccionado.nombre_prod)<=5 || tamanoNumero(productoSeleccionado.stock_prod) <= 0 || tamanoNumero(productoSeleccionado.precioCompra_prod) <= 0"
                    (click)="guardarProductoEditado()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nuevoProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del producto</label>
                        <input type="text" name="nombre" required [(ngModel)]="productoSeleccionado.nombre_prod"
                            class="form-control">
                        <label *ngIf="tamanoString(productoSeleccionado.nombre_prod)<=5" class="alertas">*Este campo debe tener almenos 6 caracteres</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Unidad de medida</label>
                        <input type="number" name="numeroUniMedi" required [(ngModel)]="uniMedi.cantidad"
                            class="form-control width-min">
                        <label class="etiqueta">Cantidad : 300, 200, 1 ,etc</label><br>
                        <label *ngIf="uniMedi.cantidad <1" class="alertas">*Este campo debe ser mayor a cero.</label>
                        <select class="form-select width-min" name="medida" [(ngModel)]="uniMedi.medida">
                            <option *ngFor="let uniMedi of uniMedis">{{uniMedi}}</option>
                        </select>
                        <label class="etiqueta"> Medida: ml, gr, kl ,etc</label><br>
                        <label *ngIf="tamanoString(uniMedi.medida)<1" class="alertas">*Por favor seleccione una medida.</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Stock</label>
                        <input type="number" name="stock" required [(ngModel)]="productoSeleccionado.stock_prod"
                            class="form-control">
                            <label *ngIf="tamanoNumero(productoSeleccionado.stock_prod) <= 0" class="alertas">*Este campo debe ser mayor a cero.</label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio de compra</label>
                        <input type="number" name="precio" required [(ngModel)]="productoSeleccionado.precioCompra_prod"
                            class="form-control">
                             </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
                            <div class="col-sm-10" *ngFor="let estado of estados">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (change)="changeRadio($event.target)"
                                        name="estadoRadio" value="{{estado}}">
                                    <label class="form-check-label">
                                        {{estado}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Imagen del producto</label>
                        <input type="text" name="foto" [(ngModel)]="productoSeleccionado.foto_prod"
                            class="form-control">
                        <img class="img" [src]="productoSeleccionado.foto_prod">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" (click)="crearNuevoProducto()" 
                [disabled]="tamanoString(productoSeleccionado.nombre_prod)<=5 || uniMedi.cantidad <1 || tamanoString(uniMedi.medida)<1 || tamanoNumero(productoSeleccionado.stock_prod) <= 0 "
                    data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nuevoEnvase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Envase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #envaseForm="ngForm">
                    <div class="form-group">
                        <label>Nombre del envase:</label>
                        <input type="text" ngModel name="nombre" class="form-control">
                        <label *ngIf="tamanoString(envaseForm.form.value.nombre)<=5" class="alertas">*Este campo debe tener almenos 6 caracteres</label><br>
                        <label>Precio del envase:</label>
                        <input type="number" ngModel name="precio" class="form-control">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning" (click)="crearEnvase(envaseForm.form.value)"
                    [disabled]="tamanoString(envaseForm.form.value.nombre)<=5"
               
                        data-dismiss="modal">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarEnvase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Envase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Nombre del envase:</label>
                        <input type="text" name="e" [(ngModel)]="envaseSeleccionado.nombre_envase" class="form-control">
                        <label *ngIf="tamanoString(envaseSeleccionado.nombre_envase)<=4" class="alertas">*Este campo debe tener almenos 5 caracteres</label> <br>
                        <label>Precio del envase:</label>
                        <input type="number" name="p" [(ngModel)]="envaseSeleccionado.precio_envase" class="form-control">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" (click)="editarEnvase()" 
                    [disabled]="tamanoString(envaseSeleccionado.nombre_envase)<=4"
                    data-dismiss="modal" class="btn btn-warning"
                    >Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>