<div class="content">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Productos
                </a>
            </li>
            <li (click)="goUsuarios()">
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Usuarios
                </a>
            </li>
            <li (click)="goPedidos()">
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Pedidos
                </a>
            </li>
            <li>
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Ventas
                </a>
            </li>
            <li>
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Proovedores
                </a>
            </li>
            <li>
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Ingresos
                </a>
            </li>
            <li>
                <a class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    Categoria
                </a>
            </li>
        </ul>
    </div>
    <div class="container-component">
        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <form class="col-sm-8" role="search">
                        <input type="text" name="search" [(ngModel)]="searchText"
                            class="form-control form-control-dark text-bg-dark " placeholder="Buscar producto..."
                            aria-label="Search" *ngIf="tabNavegador=='productos'">
                        <button type="button" class="btn btn-warning col-sm-4" data-toggle="modal"
                            data-target="#nuevoProducto" (click)="nuevoProducto()">Anadir nuevo producto</button>
                        <button type="button" class="btn btn-warning col-sm-4" data-toggle="modal"
                            data-target="#nuevoEnvase">Crear envase</button>
                    </form>
                </div>
            </div>
        </header>
        <div class="margin">
			<div class="card">
				<div class="card-header text-center">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item" (click)="tablNavegador('productos')">
							<a class="nav-link active" *ngIf="tabNavegador=='productos'">Productos</a>
							<a class="nav-link disabled" *ngIf="tabNavegador!='productos'">Productos</a>
						</li>
						<li class="nav-item" (click)="tablNavegador('envases')">
							<a class="nav-link active" *ngIf="tabNavegador=='envases'">Envases</a>
							<a class="nav-link disabled" *ngIf="tabNavegador!='envases'">Envases</a>
						</li>
					</ul>
				</div>
				<div class="card-body" *ngIf="tabNavegador=='productos'">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Medida</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let producto of productos | filter:searchText">
                                <td scope="row">{{producto.id_prod}}</td>
                                <td>{{producto.nombre_prod}}</td>
                                <td>{{producto.uniMedida_prod}}</td>
                                <td *ngIf="producto.estado_prod == 'Activo'">
                                    <a class="badge badge-warning">{{producto.estado_prod}}</a>
                                </td>
                                <td *ngIf="producto.estado_prod == 'Inactivo'">
                                    <a class="badge badge-danger">{{producto.estado_prod}}</a>
                                </td>
                                <td (click)="editarProducto(producto)" data-toggle="modal" data-target="#modalEditarProducto">
                                    <i class="bi bi-pencil-square"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
                <div class="card-body" *ngIf="tabNavegador=='envases'">
                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del envase</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let envase of envases; let i = index">
                                <td scope="row">{{envase.id_envase}}</td>
                                <td>{{envase.nombre_envase}}</td>
                                <td data-toggle="modal" (click)="abrirModalEditarEnvase(i)" data-target="#editarEnvase">
                                    <i class="bi bi-pencil-square"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="modal fade" id="modalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del producto</label>
                        <input type="text" name="nombre" [(ngModel)]="productoSeleccionado.nombre_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Unidad de medida</label>
                        <input type="text" name="uniMedi" [(ngModel)]="productoSeleccionado.uniMedida_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Stock</label>
                        <input type="number" name="stock" [(ngModel)]="productoSeleccionado.stock_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio de compra</label>
                        <input type="number" name="precio" [(ngModel)]="productoSeleccionado.precioCompra_prod"
                            class="form-control">
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
                            <div class="col-sm-10" *ngFor="let estado of estados">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (change)="changeRadio($event.target)"
                                        name="estadoRadio"
                                        value="{{estado}}"
                                        [checked]="productoSeleccionado.estado_prod == estado">
                                    <label class="form-check-label">
                                        {{estado}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Imagen del producto</label>
                        <input type="text" name="foto" [(ngModel)]="productoSeleccionado.foto_prod"
                            class="form-control">
                        <img class="img" [src]="productoSeleccionado.foto_prod">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal"
                    (click)="guardarProductoEditado()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nuevoProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre del producto</label>
                        <input type="text" name="nombre" required [(ngModel)]="productoSeleccionado.nombre_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Unidad de medida</label>
                        <input type="text" name="uniMedi" required [(ngModel)]="productoSeleccionado.uniMedida_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Stock</label>
                        <input type="number" name="stock" required [(ngModel)]="productoSeleccionado.stock_prod"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio de compra</label>
                        <input type="number" name="precio" required [(ngModel)]="productoSeleccionado.precioCompra_prod"
                            class="form-control">
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-10 col-sm-2 pt-0">Estado</legend>
                            <!-- <div class="col-sm-10" *ngFor="let estado of estados">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" (change)="changeRadio($event)"
                                        name="gridRadios" id="{{productoSeleccionado.estado_prod}}"
                                        value="estado"
                                        [checked]="productoSeleccionado.estado_prod == estado">
                                    <label class="form-check-label" for="gridRadios1">
                                        {{estado}}
                                    </label>
                                </div>
                            </div> -->
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Imagen del producto</label>
                        <input type="text" name="foto" [(ngModel)]="productoSeleccionado.foto_prod"
                            class="form-control">
                        <img class="img" [src]="productoSeleccionado.foto_prod">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-warning" (click)="crearNuevoProducto()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="nuevoEnvase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Envase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #envaseForm="ngForm" (ngSubmit)="crearEnvase(envaseForm.form.value)">
                    <div class="form-group">
                        <label>Nombre del envase:</label>
                        <input type="text" ngModel name="nombre" class="form-control">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editarEnvase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Envase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Nombre del envase:</label>
                        <input type="text" name="e" [(ngModel)]="envaseSeleccionado.nombre_envase" class="form-control">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" (click)="editarEnvase()" class="btn btn-warning">Guardar cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>