<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menu</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> físico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item" (click)="goPedidos()">
							<a class="nav-link"><span>Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item" (click)="goIngreso()">
							<a class="nav-link"><span>Ingreso</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link"><span class=" span-active">Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<div class="mapas">
				<google-map height="100%" width="100%" [zoom]="16" [center]="center" [options]="options">
					<div *ngFor="let marker of markers; let i=index">
						<map-marker [position]="marker.position" (mapClick)="openInfo(i)" data-toggle="modal"
							data-target="#infoMarker"></map-marker>
					</div>
				</google-map>
			</div>
			<div class="card" *ngIf="data.active">
				<div>
					<label class="mr-1">Cliente: </label>
					<label class="link hover" (click)="goUser()">{{data.usuario}}</label>
				</div>
				<label>Direccion: {{data.nombreDireccion}}</label>
				<label>Descripcion: {{data.descripcionDireccion}}</label>
				<label>Rubro: {{data.rubroDireccion}}</label>
				<label>Telefono: {{data.telefono}}</label>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="infoMarker" tabindex="-1" tarole="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
		</div>
	</div>
</div>