<div class="container-fluid">
	<div class="row wrapper min-vh-100 flex-column flex-sm-row">
		<aside class="col-12 col-sm-2 p-3 bg-dark flex-shrink-1">
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark align-items-start flex-sm-column flex-row">
                <a class="nav-link"><label class="text-menu">{{this.administrador.nombre_usu}}</label></a>
                <a class="nav-link"><label class="text-menu">{{this.administrador.rol?.nombre_rol}}</label></a>
				<a class="navbar-brand "><label class="text-menu">Menú</label></a>
				<a class="navbar-toggler" data-toggle="collapse" data-target=".sidebar">
					<span class="navbar-toggler-icon"></span>
				</a>
				<div class="collapse navbar-collapse sidebar">
					<ul class="flex-column navbar-nav w-100 justify-content-between">
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m1" data-parent="#navbar1"
								data-toggle="collapse" data-target="#m1" aria-expanded="false">
								<span class=""> Reportes</span>
							</a>
							<div class="collapse" id="m1">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goVarios()">Vendedor</a>
									<a class="nav-link text-truncate" (click)="goGlobal()">Global</a>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link dropdown-toggle text-nowrap" href="#m2" data-parent="#navbar2"
								data-toggle="collapse" data-target="#m2" aria-expanded="false">
								<span class=""> Control <br> fisico</span>
							</a>
							<div class="collapse" id="m2">
								<ul class="flex-column nav">
									<a class="nav-link text-truncate" (click)="goCFProducto()">Productos</a>
									<a class="nav-link text-truncate" (click)="goCFEnvase()">Envases</a>
								</ul>
							</div>
						</li>
						<li class="nav-item active">
							<a class="nav-link"><span class="span-active">Pedidos</span></a>
						</li>
						<li class="nav-item" (click)="goProductos()">
							<a class="nav-link"><span>Productos</span></a>
						</li>
						<li class="nav-item" (click)="goUsuarios()">
							<a class="nav-link"><span>Usuarios</span></a>
						</li>
						<li class="nav-item" (click)="goIngreso()">
							<a class="nav-link"><span>Ingreso</span></a>
						</li>
						<li class="nav-item" (click)="goDirecciones()">
							<a class="nav-link"><span>Direcciones</span></a>
						</li>
						<li class="nav-item" (click)="goLogin()">
							<a class="nav-link"><span>Cerrar Sesion</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</aside>
		<main class="col">
			<header class="p-3 text-bg-dark">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<form class="col-sm-8" role="search">
						<button type="button" class="btn btn-warning" (click)="goVolverPedidos()">Volver a
							pedidos</button>
					</form>
				</div>
			</header>
			<div class="container">
				<div id="content1">
					<div class="border m-3 p-3">
						<h3>Detalle del pedido
							<i *ngIf="pedido.estado_ord != 'Cancelado'" class="bi bi-pencil-square icon"
								data-toggle="modal" data-target="#editarDetallePedido"></i>
						</h3>
						<label class="font-weight-bold">Usuario: </label>
						<label class="ml-1"> {{this.pedido.usuario?.correo_usu}} ({{this.pedido.usuario?.nombre_usu}})
						</label><br>
						<label class="font-weight-bold">Fecha de pedido: </label>
						<label
							class="ml-1">{{this.productoService.getFechaFormat(this.pedido.fVenta_ord.toString())}}</label><br>
						<label class="font-weight-bold">Fecha de entrega: </label>
						<label
							class="ml-1">{{this.productoService.getFechaFormat(this.pedido.fEntrega_ord.toString())}}</label><br>
						<label class="font-weight-bold">Dirección: </label>
						<label class="ml-1">{{this.pedido.direccion.nombre_direc}}</label>
						<label class="ml-1">{{this.pedido.direccion.descripcion_direc}}</label> <br>
						<label class="font-weight-bold">Estado: </label>
						<label class="ml-1">{{this.pedido.estado_ord}}</label><br>
						<label class="font-weight-bold">Nro nota: </label>
						<label class="ml-1">{{this.pedido.numNota_ord}}</label><br>
						<label class="font-weight-bold">Total a pagar: </label>
						<label class="ml-1">{{this.pedido.total_ord}} Bs.</label><br>
						<label class="font-weight-bold">Foto recibo: </label>
						<img class="img" [src]="pedido.url_ord">
						<button *ngIf="pedido.estado_ord == 'Pendiente'" type="button" class="btn btn-danger"
							(click)="cancelarPedido()">Cancelar pedido</button>
						<button *ngIf="pedido.estado_ord == 'Entregado'" type="button" class="btn btn-warning"
							data-toggle="modal" data-target="#registrarControlEnvase">Registrar
							control de envases</button>
					</div>
				</div>
				<div id="content2">
					<div class="border m-3 p-3">
						<h3>Lista de productos</h3>
						<table class="table">
							<thead class="text-center">
								<tr>
									<th scope="col"></th>
									<th scope="col">Producto</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Precio</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr *ngFor="let producto of ordenProductos; let i = index"
									(click)="seleccionarProducto(producto)">
									<td scope="row">
										<img class="img-producto" [src]="producto.producto?.foto_prod">
									</td>
									<td>{{producto.producto?.nombre_prod}}</td>
									<td>{{producto.cantidad_op}}</td>
									<td>{{producto.precioUni_op}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="border m-3 p-3"
						*ngIf="pedido.estado_ord == EstadoPedido.Entregado && pedido.controlEnvase.length>0">
						<h3>Lista de envases</h3>
						<div *ngFor="let control of pedido.controlEnvase">
							<div class="border-bottom mt-2">
								<div>
									<label class="mr-2">{{control.cantEnvase_ce}}x</label>
									<label>{{control.tipoEnvase?.nombre_envase}}</label>
								</div>
								<label *ngIf="control.motivo_ce=='Salida'"
									class="motivo-salida">{{control.motivo_ce}}</label>
								<label *ngIf="control.motivo_ce=='Entrada'"
									class="motivo-entrada">{{control.motivo_ce}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<div class="modal fade" id="editarDetallePedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Editar Pedido</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="group-space-between">
					<div>Fecha de pedido: </div>
					<div class="input-group select">
						<input class="form-control" placeholder="yyyy-mm-dd" name="fpp" [(ngModel)]="fechaPedido"
							ngbDatepicker #fpedido="ngbDatepicker">
						<button class="btn btn-warning bi-calendar3" (click)="fpedido.toggle()" type="button"></button>
					</div>
				</div>
				<div class="group-space-between">
					<div>Fecha de entrega: </div>
					<div class="input-group select">
						<input class="form-control" placeholder="yyyy-mm-dd" name="fe" [(ngModel)]="fechaEntrega"
							ngbDatepicker #fentrega="ngbDatepicker">
						<button class="btn btn-warning bi-calendar3" (click)="fentrega.toggle()" type="button"></button>
					</div>
				</div>
				<div>Dirección: </div>
				<div class="input-group select">
					<select class="form-select select" name="direc" [(ngModel)]="pedidoAuxiliar.direccion">
						<option *ngFor="let direccion of direcciones" [ngValue]="direccion"
							[selected]="direccion.nombre_direc == pedidoAuxiliar.direccion.nombre_direc">
							{{direccion.nombre_direc}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Nro nota:</label>
					<input type="number" name="precio" [(ngModel)]="pedidoAuxiliar.numNota_ord" class="form-control">
				</div>
				<div class="form-group">
					<label>Foto del recibo:</label>
					<input type="text" name="url" [(ngModel)]="pedidoAuxiliar.url_ord" class="form-control">
					<img class="img" [src]="pedidoAuxiliar.url_ord" >
				</div>
				<button type="button" class="btn btn-warning" (click)="editarPedido()" data-dismiss="modal">Editar
					Producto</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="registrarControlEnvase" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Control de envase</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<fieldset class="form-group">
					<div class="row">
						<legend class="col-form-label col-sm-10 col-sm-2 pt-0">Motivo</legend>
						<div class="col-sm-10" *ngFor="let motivo of motivos">
							<div class="form-check">
								<input class="form-check-input" type="radio" (change)="changeRadioMotivo($event.target)"
									name="estadoRadio" value="{{motivo}}"
									[checked]="controlEnvase.motivo_ce== motivo">
								<label class="form-check-label">
									{{motivo}}
								</label>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="form-group" *ngIf="controlEnvase.motivo_ce == 'Salida'">
					<label for="exampleFormControlInput1">Garantia:</label>
					<input type="number" name="Garantia" required [(ngModel)]="controlEnvase.garantia_ce"
						class="form-control">
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Cantidad de envases:</label>
					<input type="number" name="cantidad" required [(ngModel)]="controlEnvase.cantEnvase_ce"
						class="form-control">
				</div>
				<label>Envase:</label>
				<div class="select ">
					<select class="form-select select" name="envase" [(ngModel)]="controlEnvase.tipoEnvase">
						<option *ngFor="let envases of tipoEnvase;let i=index" [ngValue]="envases">
							{{envases.nombre_envase}}</option>
					</select>
				</div>
				<button type="button" class="btn btn-warning mt-3" (click)="registrarEnvase()" data-dismiss="modal">Registrar</button>
			</div>
		</div>
	</div>
</div>