main {
	margin: 0 !important;
	padding: 0 !important;
}

body{
  margin: 0 !important;
	padding: 0 !important;
}

.navbar{
	padding: 10px 20px;
}

.text-menu {
	color: white;
}

.active {
	border-radius: 5px;
}

.span-active {
	color: #fecb00;
	text-decoration: underline;
}

.content-responsive{
  width: 100%;
}

.margin {
  margin: 5px;
}

.padding {
  padding: 5px;
}

@media (min-width: 576px) {
  .content-responsive{
    width: 400px;
  }
  .col-sm-2{
    width: 130px !important;
  }
}



/* .content {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container-component {
  height: 100%;
  width: 100%;
  margin: 0px;
} */

.selector-for-some-widget {
  box-sizing: content-box;
}

.badge {
  border-radius: 15px;
}

select:focus {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fecb00 !important;
	border-color: #fecb00 !important;
	outline: 0 none;
}

.icon {
  margin: 0 15px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="radio"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #fecb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fecb00;
  outline: 0 none;
}
